extends ./../../partials/header.pug
block title
    title=title
block cssLink
    link(rel="stylesheet" href="/assets/css/auth.css")

block bodyContent
    div.authSection
        div.wrapper
            div.auth_wrapper
                h2 Reset Your Password
                .otp_image
                    img(src="/assets/images/Forgot password.png" alt="Image")
                form(action="/resetPassword" method="post")
                    label(for="username") Email
                    input#username(type="text" value=user.email?user.email :'' name="email" placeholder="Enter email" class="form-control")
                    if error.email
                        p.error #{error.email.msg}
                    input.resetPasBtn(type="submit" class="form-control mt-3" value="Reset Now")
                    p.toggle_page.mt-2 Need to login?
                        a(href="/login") Login Here