@import "./partials/variable";

.authSection {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  .auth_wrapper {
    background: rgba(51, 38, 153, 0.1254901961) !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    width: 600px;
    max-width: 80%;
    margin: 0px auto;
    padding: 30px;
    border-radius: 20px;
    color: white;
    h2 {
      text-align: center;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      font-size: 40px;
      font-weight: 700;
      color: #44abf7 !important;
      @media #{$mobile,$mobileLarge,$mobileMedium} {
        font-size: 25px;
      }
      i {
        color: #6abbf4 !important;
        margin-top: 20px;
        font-size: 45px;
      }
    }
  }
  .auth_wrapper form input {
    background: #131237 !important;
    color: white !important;
    border-radius: 5px;
    transition: 0.3s !important;
    border: 1px solid #131237;
    padding: 14px !important;
    &:hover {
      border: 1px solid #6abbf4;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .form-control {
    margin-top: 5px;
    font-size: 17px !important;
    font-weight: 500 !important;
    @media #{$mobile,$mobileLarge,$mobileMedium} {
      font-size: 15px !important;
    }
  }
  label {
    font-size: 15px;
    font-weight: bold;
    color: white;
    @media #{$mobile,$mobileLarge,$mobileMedium} {
      font-size: 14px;
    }
  }
  #formBtn {
    background: transparent;
    color: white !important;
    border: 1px solid #673ab7;
    padding: 14px !important;
    transition: 0.5s !important;
    &:hover {
      background: linear-gradient(90deg, #4e65ac 0, #6122bef5) !important;
    }
  }
  .toggle_page {
    margin: 2px 0px;
    font-size: 16px;
    font-weight: 500;
  }
  .error {
    color: #e55353 !important;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
  }

  .passContainer {
    position: relative;
    display: flex;
    align-items: center;
    span {
      position: absolute;
      right: 25px;
      bottom: 14px;
      cursor: pointer;
    }
  }
  .passError {
    color: red;
    font-weight: 500;
    margin-top: 3px;
  }
  .toggle_page_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media #{$tablet,$mobile,$mobileLarge,$mobileMedium} {
      align-items: start !important;
      flex-direction: column;
    }
  }
}

//some login page code

//some register page code
.register_container {
  .register {
    width: 650px !important;
    max-width: 80%;
    margin: 0px auto;
    padding: 30px;
    border-radius: 10px;
    @media #{$mobile,$mobileLarge,$mobileMedium} {
      width: 600px !important;
      max-width: 90% !important;
      padding: 10px;
    }
  }
}

.resetPass {
  min-height: 250px !important;
  h2 {
    color: #201e5d !important;
  }
  input {
    background-color: #edf3f8 !important;
  }
  img {
    max-width: 120px;
    width: 100%;
    margin: auto;
    object-fit: cover;
  }
  .expireIn {
    margin-bottom: 0px !important;
  }
}

.otp_image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px !important;
  margin: 15px auto;
  @media #{$mobile,$mobileLarge,$mobileMedium} {
    margin: 10px auto;
  }
  img {
    width: 100%;
  }
}

.resendOtp_btn {
  background: linear-gradient(90deg, #4e65ac 0, #6122bef5) !important;
  color: white !important;
  border: none !important;
  width: 140px;
  padding: 14px !important;
  margin: 10px auto;
  transition: 0.3s;
  &:hover {
    background: linear-gradient(90deg, #5c4eac 0, #6122bea1) !important;
  }
}

.resetPasBtn {
  background-color: #09c098 !important;
  color: white !important;
}
.otpBtn {
  background-color: transparent !important;
  color: white !important;
  padding: 14px !important;
  border: 1px solid #673ab7 !important;
  transition: 0.5s !important;
  &:hover {
    background: linear-gradient(90deg, #4e65ac 0, #6122bef5) !important;
  }
}

.left-sidebar-login {
  background-image: linear-gradient(
      rgba(24, 23, 23, 0.2),
      rgba(32, 29, 29, 0.4)
    ),
    url("/assets/images/wrapped_k7g6ev.svg") !important;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

label.label-img {
  background: #131237;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 10px;
  border-radius: 5px;
  padding: 14px;
  input {
    cursor: pointer !important;
  }
  i {
    font-size: 20px;
    cursor: pointer !important;
  }
}
