extends ./../../partials/header.pug
block title
    title=title
block cssLink
    link(rel="stylesheet" href="/assets/css/home.css")
    link(rel="stylesheet" href="/assets/css/messages.css")
    link(rel="stylesheet" href="/assets/css/toastify.css")
block jsScript
    script(src="/assets/js/app.js" defer)
    script(src="/assets/js/message.js" defer)
    <script type="text/javascript" src="/assets/js/toastify.js" defer></script>
block bodyContent
    - avatarUrl = user.avatarProfile ? `/uploads/${user._id}/profile/${user.avatarProfile}` : `/uploads/profile/avatar.png`;
    main.main
        include ./../../partials/left_side.pug
        .middle_side_container
            .post_header
                h4.d-flex Message
                a(href="/messages/newMessages") 
                    i.fas.fa-plus
            .messages_container
        .right_side_container
    script.
        const user = !{userObj}